body{
	margin:0;
	background: radial-gradient(lightgreen, white);
}

.main_nav{
	margin:0;
	background-color: black;
	height:50px;
	overflow: hidden;
}
.drag-drop{
    border-box : 10px;
    border : 2px dotted black;
    height : 300px;
    width : 300px;
    position: relative;
    margin: auto;
    top : 20px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f3f3f3;
}
.show-drag-drop{
    border-box : 10px;
    border : 2px dotted black;
    height : 400px;
    width : 100%
    margin: auto;
    top : 100px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f3f3f3;
}

.main_nav a:hover{
	background-color: lightgreen !important;
}
.main_nav .sub_nav a,.main_nav .sub_nav span{
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.sub_nav div.sub_nav_right{
	float: right;
}
.sub_nav div.sub_nav_right span,.sub_nav div.sub_nav_right a, .sub_nav div.sub_nav_right .div_drop_down,.sub_nav div.sub_nav_right li{
	float: left;
	cursor : pointer;
}
.drop_down{
     display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 100px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
}

.sub_nav div.sub_nav_right .div_drop_down:hover{
    background-color: lightgreen !important;
}

.sub_nav div.sub_nav_right .div_drop_down:hover li{
    background-color : black;
    display: block;
}

.sub_nav div.sub_nav_right div li a{
    float: left;
    display: block;
    color : black;
}



.page_content{
    width: 100%;
    background: #FAFAFA;
    display: block;
    margin-top: 20px;
}
.wrapper-content{
    padding-left: 20px;
    border: 2px solid green;
    border-radius: 20px;
    margin: 30px;

}

.wrapper-content div.delete_post{
    box-sizing: border-box;
}
.wrapper-content span{
    padding :10px;
    color: black;
}
.wrapper-content span span{
    padding : 0px;
    font-weight: bolder;
}
.wrapper-content div.delete_post h2{
    font-size: 17px;
    margin-bottom: 2px;
    padding: 5px;
    color: black;
    font-weight: 500;
 }
 div.delete_post h2 a{
    color: red;
    text-decoration: none;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
 }
 .desc{
    text-decoration: none;
    width: 100%;
    overflow: hidden;
 }
 .desc p{
    line-height: 20px;
    font-size: 17px !important;
    color: black;
 }
 .desc p span{
    font-weight: bolder;
 }
.wrapper-content .delete{
    display: block;
    float: right;
    margin-right:10px;
    padding: 10px;
    color: white;
    background :black;
}


/* body Part */


.container-login {
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 9%;
}

.wrapper-login {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.wrapper-login input{
    width: 200px;
    height: 26px;
    border: 1px solid #cccccc;
    background-color: #f5f5f5;
    font-size: 18px;
    display: block;
    position: relative;
    margin: 20px auto;
}
.wrapper-login textarea {
    width: 50%;
    height: 20%;
    border: 1px solid #cccccc;
    background-color: #f5f5f5;
    font-size: 18px;
    display: block;
    position: relative;
    margin: 20px auto;
}

input::placeholder,textarea::placeholder{
    color: #a1a1a1;
    font-size: 14px;
}

.wrapper-login h2 {
    font-size: 40px;
    text-transform: uppercase;
}

#submit {
    width: 200px;
    height: 42px;
    border: 1px solid #000000;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    margin: 20px 0px 0px 0px;
}

#submit:hover {
    border: 1px solid #a1a1a1;
    background-color: #a1a1a1;
    transition: 0.15s ease-in;
}

.options a {
    color: #006400;
}

.options a:hover {
    color: #000000;
    transition: 0.20s ease-in;
    text-decoration: none;
}

.invalidFeedback {
    color: #ff0000;
    display: none;
}
.v_fail{
    color: #ff0000;
    display: block;
}
.v_success{
    color: green;
    display: block;
}



/* footer */

.footer_class{
	background-color: #2c292f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}
.footer_class .footer_left,.footer_class .footer_right,.footer_class .footer_middle{
	display: inline-block;
	vertical-align: top;
}
.footer_class .footer_left{
	width: 30%;
}
.footer_class h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

/* The company logo */

.footer_class .footer_left img{
	width: 30%;
	background-color:white;
}

.footer_class h3 span{
	color:  #e0ac1c;
}

/* Footer links */

.footer_class .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer_class .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer_class .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer_class .footer-center{
	width: 35%;
}


.footer_class .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer_class .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer_class .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer_class .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer_class .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}


/* Footer Right */

.footer_class .footer_right{
	width: 30%;
}

.footer_class .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer_class .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer_class .footer-icons{
	margin-top: 25px;
}

.footer_class .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}


#users_request, #users_requests,#all_users_request, #post_request {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#users_request td,#users_requests td,#all_users_request td,#all_users_request th, #users_request th,#users_requests th,#post_request td, #post_request th {
  padding: 8px;
}
#users_request td button.approve,#users_requests td button.approve,#all_users_request td button.approve{
    width :46%;
    background-color : green;
    padding: 5px;
    display: inline-block;
}
#users_request td button.dis_approve,#all_users_request td button.dis_approve, #users_requests td button.dis_approve,#post_request td button.dis_approve{
    width :46%;
    background-color : red;
    padding: 5px;
    display: inline-block;
}
.delete{
    background :red;
    width:100%
}

#users_request tr:nth-child(even),#users_requests tr:nth-child(even),#all_users_request{
background-color: #f2f2f2;
}

#users_request tr:hover,#users_requests tr:hover,#all_users_request tr:hover{
background-color: #ddd;
}

#users_request th,#users_requests th,#all_users_request th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: white;
}

#post_request tr:nth-child(even){
background-color: #f2f2f2;
}

#post_request tr:hover {
background-color: #ddd;
}

#post_request th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: white;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

	.footer_class .footer_left,
	.footer_class .footer-center,
	.footer_class .footer_right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer_class .footer-center i{
		margin-left: 0;
	}

}


